.what-section{
    width: 100%;
    margin-top: 5%;
    width: 100%;
}
.what-section h1{
    font-size: 50px;
    color: var(--blood-red);
}
.what-section .what-container{
    margin-top: 3%;
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-flow: wrap;
}
.what-section .what-container .what-box{
    box-sizing: border-box;
    width: 20%;
    margin: 1%;
}

.what-section .what-container .what-box a{
    text-decoration: none;
    color: #000;
}

.what-section .what-container .what-box a img{
    padding: 5%;
    width: 40%;
    border-radius: 100%;
    background-color: var(--baby-pink);
}
.what-section .what-container .what-box a p{
    font-size: 20px;
    margin: 1%;
}

@media screen and (max-width:1024px){
    
}

@media screen and (max-width:770px){
    .what-section .what-container{
        width: 100%;

    }
    .what-section .what-container .what-box{
        width: 40%;
    }

    
}
@media screen and (max-width:600px){
    .what-section h1{
        font-size: 30px;
        color: var(--blood-red);
    }

    .what-section .what-container .what-box{
        width: 90%;
    }
}


